<!doctype html>
<html lang="en" ng-app="filmeModule">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body ng-controller="filmeControl">
     <div ng-include="'menu.html'"></div>
     <div class="card">
  <div class="card-body">
    cadastre seu filme
  </div>
</div>

<div class="container-fluid">
  
  <ul class="nav nav-tabs" id="clienteTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="tabCadastro" aria-selected="true">Cadastro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="tabDados" aria-selected="false">Dados</a>
  </li>
</ul>
<div class="tab-content" id="clienteTabContent">
  <div class="tab-pane fade show active" id="cadastro" role="tabCadastro" aria-labelledby="cadastro-tab">
    <br>
    <button type="button" class="btn btn-primary" ng-click="novo()">Novo</button>
    <button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
    <button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
    <button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesquisar</button>
    <br>
    <br>

    <form class="was-validated form-row">
  <div class="col-md-1 mb-3">
    <label for="txtCodigo">Código</label>
    <input type="text" class="form-control" ng-model="ator.codigo" desabled id="txtCodigo">
  </div>

  <div class="col-md-4 mb-3">
    <label for="txtNome">Nome</label>
    <input type="text" class="form-control is-valid" ng-model="filme.nome" id="txtNome" required>
    <div class="Invalid-feedback">Digite o nome.</div>
  </div>

  <div class="col-md-4 mb-3">
    <label for="txtCargo">data de lançamento</label>
    <input type="text" class="form-control is-valid" ng-model="filme.lanc" id="txtCargo" required>
    <div class="Invalid-feedback">data de lançamento</div>
  </div>

<div class="col-md-4 mb-3">
    <label for="txtCargo">Gênero</label>
    <input type="text" class="form-control is-valid" ng-model="filme.genero" id="txtCargo" required>
    <div class="Invalid-feedback">data de lançamento</div>
  </div>


 

 

 

   
    
 
</form>
  </div>
  <div class="tab-pane fade" id="dados" role="tabDados" aria-labelledby="dados-tab">


  <input type="texte" class="form-control"  ng-model="criterio" placeholder="O que você está procurando?"><br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th >código</th>
      <th >nome</th>
      <th >data de lançamento</th>
      <th >genero</th>
      
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="clienteTabela in filmes | filter:criterio" ng-click="Seleciona(clienteTabela)">
    <td>{{clienteTabela.codigo}}</td>
    <td>{{clienteTabela.nome}}</td>
    <td>{{clienteTabela.data_lancamento}}</td>
    <td>{{clienteTabela.genero}}</td>
    
   
    </tr>
      </tbody>
  </table>
   <span ng-show="(filmes | filter: criterio).length == 0">Infelizmente não temos o que você está procurando</span> 
  </div>

 
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="control/filmeControl.js"></script>

    
   
  
  </body>
</html>



